.cart-checkout {
display: grid;
grid-template-areas: 'gap1 gap2 totalPrice' 'gap1 gap2 checkout';
grid-template-columns: 250px;
justify-content: end;
margin-left: 1rem;
margin-right: 1rem;
grid-template-areas: 'totalPrice' 'checkout';
margin-left: 0;
margin-right: 0;
}

.cart-checkout-button {
grid-area: checkout;
height: 2.5em;
padding-left: 2em;
padding-right: 2em;
background-color: var(--primCol);
font-family: var(--palReg);
color: var(--labCol);
border: none;
outline: none;
}

.cart-checkout-button:hover {
opacity: 0.9;
}

.cart-checkout-button {
padding-left: 1em;
padding-right: 1em;
font-size: 1em;
margin-bottom: 1.5rem;
}

.cart-total-price {
grid-area: totalPrice;
font-weight: bold;
margin-bottom: 1rem;
font-size: 1.5rem;
font-family: var(--pal);
color: var(--primCol);
justify-self: center;
}

