.grid-form{
	width:100%;
	height:100%;
	display:grid;
	background-color:#EFF2F5;
	margin:auto;
    /* border: black;
    border-radius: 8px; */
}

[class*=form-group] {
	display:inline-grid;
	grid-template-rows:2.5em auto;
	grid-row-gap: 0.5em;
	margin-top:2rem;
}


.big{
	font-family:Palatino, "Palatino Linotype", "URW Palladio L", serif; 
	font-size:1.5rem;
	font-weight: bold;	
	display:inline-grid;
    grid-row: 1;
}

input, select {
	height:1.25rem;
	padding:3px;
	border-color: rgba(0, 0, 0, .1);
}

.inside{
	display:inline-grid;
	grid-template-columns:1fr 300px;
	grid-template-rows:auto;
	grid-column-gap: 1em;
	grid-row-gap: 0.5em;
}


.costs{
	display:inline-grid;
	grid-template-columns:50% 50%;
	grid-template-rows:auto auto auto;
	margin-top: 2rem;
}

.costspos{
	display:grid;
	grid-column:2;
	text-align:right;
}

.subtotal{
    grid-row: 1;
}

.shippingcosts{
	grid-row:2;
}

.totalcost{
	grid-row:3;
	margin-top:1rem;
}


.butt{
	display:inline-grid;
	grid-template-columns:50% 50%;
	grid-template-rows:1fr;
	margin-bottom:1rem;
	margin-top:1rem;
}


#back{
	background-color:#EFF2F5;
	cursor: pointer;
	border:none;
	outline:none;
	grid-column:1;
	grid-row:1;
	justify-self:start;
	text-align:left;
	text-align:right;
}

a{
	color:#2B2E32; 
	text-decoration: none;
}


#pay{
	grid-column:2;
	grid-row:1;
	justify-self:end;
}

button{
	color:#EFF2F5; 
	background-color:#2B2E32;
	cursor: pointer;
	border:none;
	outline:none;
	height:2.5em;	
    padding-left:1em;
	padding-right:1em;
}

button:hover {
  opacity:90%;
}


::placeholder{
	color:#2B2E32;
	opacity:50%;
}


@media only screen and (max-width: 414px) {
  

body{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:auto auto;
}  

.main-header {
  display: grid;
  grid-column:1 ;
  grid-row:1;
}

.inside{
	display:grid;
	grid-row:2;
	grid-template-rows:1rem auto;
	grid-template-columns:1fr;
	grid-row-gap: 0.5em;
	grid-column-gap:0;
	margin-top:0.5em;
}


.butt{
	display:inline-grid;
	grid-template-rows:50% 50%;
	grid-template-columns:1fr;
	grid-row-gap: 0.5em;
	margin-bottom:1rem;
	margin-top:1rem;
}


#back{
	grid-column:1;
	grid-row:2;
	justify-self:start;
	text-align:left;
	text-decoration: none;
}


#pay{
	grid-column:1;
	grid-row:1;
    justify-self:stretch;
}

button{
	height:2.5em;	
	text-align:center;
	width:100%;
}

}


input{
	outline:none;
}

label{
    text-align: left;
}
