.cart-preview {
    display: grid;
    grid-area: image;
    align-content: center;
    justify-content: center;
  }

  .cart-thumb {
    border: 0px solid var(--primCol); /* necessary for Chrome & Firefox */
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
  }

  .sample-frame-1 {
    width: 199px;
    height: 250px;
  }

  .cart-desc {
    grid-area: desc;
    background-color: var(--labCol);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    padding: 1em;
    max-width: 500px;
    height: max-content;
    align-self: center;
    display: inline-block;
    position: relative;
    font-size: 1rem;
    color: var(--primCol);
    /* text-align: center; */
  }

  .cart-desc-button {
    box-sizing: content-box;
    border-radius: 50%;
    background-color: var(--primCol);
    border: none;
    color: white;
    text-align: center;
    font-size: 1em;
    height: 1.5em;
    position: absolute;
    right: -12px;
    top: -15px;
  }

  .cart-desc-button:hover {
    opacity: 0.9;
  }

  .cart-desc-button:active {
    height: 1.425em;
  }

  .cart-desc-name {
    font-weight: bold;
  }

  .cart-desc-text {
    font-style: italic;
  }

  .cart-desc-price {
    font-weight: bold;
    display: block;
    text-align: end;
    max-width: 500px;
  }
  
  .cart-item {
    display: grid;
    justify-content: center;
    grid-template-columns: 250px 2rem auto;
    grid-template-rows: 250px;
    grid-template-areas: 'image gap desc';
    margin-bottom: 4.4rem
  }

  app-quantity-section{
    display: inline;
    align-items: left;
  }

  @media only screen and (max-width: 414px) {
    .cart-preview {
    clip-path: circle();
    }  
  }