.main-header {
    display: grid;
    grid-template-areas:
            'headerLeft headerRight';
    background-color: var(--backCol);
    height: 1.5em;
    font-size: 2rem;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .header-left {
    grid-area: headerLeft;
  }

  .header-right {
    grid-area: headerRight;
    justify-self: end;
    font-family: var(--palReg);
  }


  .header-links {
    color: var(--primCol);
    text-decoration: none;
    margin-left: 1em;
  }
  
  .header-links:hover {
    border-bottom: 2px solid currentColor;
    cursor: pointer;
  }

  .logo {
    max-height: 1.5em;
    width: auto;
  }

  .logo:hover {
    cursor: pointer;
  }