.search-item-container {
    color: var(--primCol);
    display: grid;
    gap: 50px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
  }
  
  .search-item {
    display: grid;
    justify-items: center;
    row-gap: 1rem;
    align-items: center;
    /* width: 300px; */
  }

.search-item-img {
    max-width: 300px;
    max-height: 300px;
    box-shadow: 0px 7px 15px rgba(0,0,0,0.5);
    transition: all 0.5s ;
  }
  
  .search-item-img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .search-item-label {
    color: var(--primCol);
    background-color: white;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    padding: 0.5em;
    display: grid;
    text-align: left;
  }
  
  .search-item-title {
    font-style: italic;
    /* font-size: large; */
  }
  
  .search-item-price {
    font-weight: bold;
    margin: 0 0 0 0;
    /* font-size: x-large; */
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
  }

  .search-item-img { 
    width: 199px;
    height: 250px;
    box-shadow: 0px 7px 15px rgba(0,0,0,0.5);
    transition: all 0.5s ;
  }
  
  .search-item-img:hover {
    transform: scale(1.1);
  }

  .frame-style-item img {
    height: 50px;
    transform: rotate(45deg);
    margin: 0px 20px 0px 20px;
  }